/* iphone 5SE screenwidth 320 */
@media screen and (max-width: 375px) {
  .locations {
    padding: 0;
    background-size: 100%;
  }
  
  .locations h2 {
    font-size: 0.8em;
  }

  .location ul {
    margin: 5px;
  }

  li h3 {
    font-size: 1.3em;
  }

  li {
    margin:  10px 0px;
    font-size: 0.5em;
  }

  footer {
    padding: 10px; 
  }

  footer span {
    padding: 0;
    font-size: 0.05em;
  }
}