/* iphone 5SE screenwidth 320 */
@media screen and (max-width: 320px) {
  .mission {
    padding: 125px 0;
    background-size: cover;
  }

  .mission .opac {
    padding: 7px;
  }

  .mission .opac p {
    font-size: 7px;
  }

  .tea p {
    margin: 5px;
  }

  .locations {
    padding: 0;
    background-size: 100%;
  }
  
  .location ul {
    margin: 5px;
  }
  
  li h3 {
    font-size: 1.3em;
  }
  
  p {
    margin: 6px;
    font-size: 0.5em;
  }

  h2 {
    font-size: 0.8em;
  }

  li {
    margin:  10px 0px;
    font-size: 0.5em;
  }

  footer {
    padding: 10px; 
  }

  footer span {
    padding: 0;
    font-size: 0.05em;
  }
}