body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

nav {
  width: 100%;
  background-color: black;
  border-bottom: 2px white solid;
  position: sticky;
  display: flex;
  align-items: center;
}

nav img {
  width: 70%;
  height: auto;
}

.nav-filler {
  flex-grow: 1;
}

nav a {
  margin: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: "Times New Roman";
}

.mission {
  padding: 300px 0 ;
  background: url(images/thee_bg.jpg) no-repeat center;
  background-size: auto;
}

.opac {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  flex-shrink: 1;
}

.tea-flex {
  justify-content: center;
  align-items: stretch;
  max-width: 700px;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
}

.tea-flex .tea {
  margin: 5px;
  flex-basis: 30%;
}

.tea-flex .tea img {
  width: 100%;
}

.locations {
  padding: 70px 0;
  background: url(images/locaties_bg.jpg) no-repeat center;
  background-size: auto;
}

.locations-flex {
  padding: 10px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

p {
  margin: 10px;
}

ul {
  margin: 5px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.6);
  list-style: none;
  flex-basis: auto;
}

li {
  margin: 25px 10px;
  font-size: small;
}

h2 {
  font-size: large;
}

footer {
  background: black;
  border-top: 2px solid white;
  display: flex;
}

footer span {
  padding: 20px 0;
  font-size: smaller;
  flex-grow: 1;
}
